<p style="color: green"><%= notice %></p>

<%= render @movie_list %>

<div>
  <%= link_to "Edit this movie list", edit_movie_list_path(@movie_list) %> |
  <%= link_to "Back to movie lists", movie_lists_path %>

  <%= button_to "Destroy this movie list", @movie_list, method: :delete %>
</div>
