<div id="<%= dom_id fave_movie %>">
  <p>
    <strong>Tmdb:</strong>
    <%= fave_movie.tmdb_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= fave_movie.title %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= fave_movie.release_date %>
  </p>

  <p>
    <strong>Poster path:</strong>
    <%= fave_movie.poster_path %>
  </p>

  <p>
    <strong>Movie list:</strong>
    <%= fave_movie.movie_list_id %>
  </p>

</div>
